<<<<<<< HEAD
<article ng-app="angulartest">
=======
<article ng-app="angular_test">
>>>>>>> 554603911df65a364c9bbd89c0e7c02d01603eda
  <header>
    <h1 ng-if="name">Hello, {{name}}</h1>
  </header>
  <section>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"
<<<<<<< HEAD
        name="name"
        type="text"
        placeholder="Enter your name"
        autofocus
        ng-model="name">
=======
               name="named"
               type="text"
               placeholder="Enter your name"
               autofocus
               ng-model="name">
>>>>>>> 554603911df65a364c9bbd89c0e7c02d01603eda
      </div>
    </form>
  </section>
</article>
